* {
	margin: 0px;
	padding: 0px;
}
	body {
		font-family: arial, sans serif;
	}
	.wrapper {
			width: 910px;
			margin: 18px auto;
	}
	header .phone{
	  font-size: 18px;
	  display: inline-block;
	  padding: 6px 0px 0px 5px;
		vertical-align: -3px;
	}
	header .phone img{
		margin-right: 5px;
		vertical-align: middle;
	}
	.phone p{
		vertical-align: middle;
		color: #5e696d;
		font-family: arial;
		font-size: 18px;
		letter-spacing: 0.4px;
		line-height: 0.9em;
		padding: 3px 0px 0px 0px;
	}
	.enter{
		display: inline-block;
		width: 496px;
		height: 26px;
		background: linear-gradient(to top, #0d3458, #13466a, #1f6787);
		border-radius: 4px;
		margin: 0px 0px 0px 10px;
		padding: 0px 0px 0px 0px;
	}
	.enter_img img{
		vertical-align: middle;
		float: left;
		margin: 5px 5px 5px 5px;
	}
	.enter_img img:after{
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
}
	.enter_form {
		margin: 2px 0px 2px 0px;
		padding: 0;
		float: left;
}
	.enter_form input::-webkit-input-placeholder{
		font-family:"Lucida Sans Unicode";
		font-size: 11px;
		color: #97a2a6;
		padding: 0px 0px 2px 2px;
}
	.login, .pass{
		height: 16px;
		font-size: 11px;
		box-shadow: 0 2px #114266;
		width: 110px;
		border-style: hidden;
		margin: 3px 0px 0px 0px;
		padding: 0px 0px 0px 5px;
}
	.enter ul li{
	  display: inline-block;
}
	.enter .enter_button ul li a{
	  font-size: 11px;
	  text-decoration: none;
	  color: white;
}
	.enter .enter_button ul li:last-child{
	  text-decoration: underline;
	  float: right;
	  margin-right: 8px;
		padding: 0px 0px 0px 0px;
		font-size: 12px;
	  line-height: normal;
	}
	.enter .enter_button .forgot a{
	  color: #bfbfbf;
	  font-size: 12px;
	}
	.enter .enter_button ul li:first-child{
	  margin-left: 4px;
	}
	.enter .enter_button ul li:first-child:after{
	  content: " |";
	  color: white;
	  font-size: 11px;
	}
	.enter .enter_button{
	  padding: 5px 0px 0px 0px;
	  font-family: "Lucida Sans Unicode", sans-serif;
}
.homemapmail{
  border: 1px solid #bdc4c7;
  height: 20px;
  width: 77px;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
  box-shadow: 2px 2px 5px #bcc3c6;
  margin-left: 10px;
  vertical-align: 0px;
}
	.homemapmail img{
	  padding-left: 4px;
	  cursor: pointer;
}
	.top_logo{
  	margin: 8px 0px 3px 0px;
		padding: 0px 0px 0px 0px;
}
	nav ul{
		width: 480px;
}
	nav ul li{
		display: inline-block;
		float: left;
}
	.main_menu{
		width: 910px;
		height: 35px;
		margin: 2px 0px 2px 0px;
		background: linear-gradient(to bottom, #4d5663 0%,#2d3236 11%,#050506 90%,#010101 100%);
		border-radius: 5px;
}
	.main_menu li a{
  	color: #bbc5c8;
  	line-height: normal;
  	font-size: 14px;
  	text-decoration: none;
  	font-family: "Lucida Sans Unicode";
}
	.main_menu li{
  	margin-top: 4px;
  	padding: 3px 15px;
  	box-sizing: border-box;
  	position: relative;
  	left: 130px;
}
	.main_menu ul{
  	width: 510px;
		list-style-type: none;
}
	.main_menu li:hover{
  	margin-top: 4px;
  	padding: 3px 15px;
  	cursor: pointer;
  	background-color: #13486b;
  	border-radius: 12px;
		background: linear-gradient(to bottom, #1f6787 0%,#103d61 67%,#0d365a 98%,#0d365a 100%);
}
	.main_menu li a:hover{
  	color: white;
}

	.korzina {
  	float: left;
}
	.korzina .img_korzina {
  	background-image: url(../img/koshyk.png);
  	background-position: left;
		background-repeat: no-repeat;
		height: 17px;
  	padding-left: 25px;
}
	.korzina p{
  	display: inline-block;
  	font-size: 11px;
  	color: #8a9296;
  	margin-top: 9px;
  	position: relative;
  	left: 180px;
  	padding-left: 10px;
  	font-family: Arial;
		font-size: 11px;
  	letter-spacing: 0.4px;
}
	.blue_text{
  	font-size: 12px;
  	color: #0d5a8f;
  	letter-spacing: 0.5px;
}
	.filter{
  	height: 135px;
  	width: 908px;
  	margin-top: 12px;
  	font-size: 0;
  	display: inline-block;
}
	.avto{
		float: left;
		display: inline-block;
		font-size: 10px;
  	height: 135px;
  	width: 415px;
  	margin: 0px 0px 0px 6px;
  	box-shadow: 1px 0 5px #969696;
  	border-radius: 15px;
}
	.avto:after{
  	content: "";
  	display: block;
  	clear: both;
}
	.shin{
		float: left;
		display: inline-block;
		font-size: 12px;
  	height: 135px;
  	width: 193px;
		margin: 0px 0px 0px 15px;
		box-shadow: 1px 0 5px #969696;
  	border-radius: 15px;
}
	.shin:after{
  	content: "";
  	display: block;
  	clear: both;
}
	.filter:after{
  	content: "";
  	display: block;
  	clear: both;
}
	.disk{
		float: right;
	  font-size: 10px;
	  height: 135px;
	  width: 265px;
	  box-shadow: 1px 0 5px #969696;
	  display: inline-block;
	  margin-right: 5px;
	  position: relative;
	  border-radius: 10px;
}
	.disk:after{
	  content: "";
	  display: block;
	  clear: both;
}
	.forma-disk .little_font{
		line-height: 0.3;
}
	.pole-disk{
  	width: 56px;
}
	.disk-colon2{
	  position: absolute;
	  right: 20px;
	  top: 5px;
}
	.disk-colon2 p{
	  padding-bottom: 3px;
	  font-family: "Lucida Sans Unicode";
		line-height: 10px;
}
	.disk-colon2 .pole-disk {
	  margin-top: 1px;
		font-size: 11px;
}
.disk-colon2:before{
  content: "";
  background-image: url(../img/vert_line.png);
  background-position: left;
  background-repeat: no-repeat;
  position: absolute;
  left: -10px;
	top: -3px;
  width: 3px;
  height: 106px;
}
.forma-disk-colon1{
  position: relative;
}
	.forma-disk-colon1-p .pole-disk{
	  position: absolute;
	  left: 97px;
	  top: -5px;
		font-size: 11px;
}
	.last-p{
	  position: absolute;
	  left: 96px;
	  bottom: 12px;
	  width: 56px;
		font-size: 11px;
}
	.pole-disk-mini{
		position: absolute;
	  left: 97px;
	  top: 28px;
	  width: 48px;
		font-size: 11px;
}
	.forma-disk-colon1-p{
	  margin: -2px 15px 6px 16px;
	  font-family: "Lucida Sans Unicode";
		line-height: 10px;
}
	.otstup{
	  margin-top: 3px;
}
.text_diski{
  color: #154467;
  float: left;
  font-size: 10px;
  font-weight:  900;
  text-align: left;
  padding: 3px 20px 5px 20px;
  margin: 0px 0px 5px 0px;
}
.avto-title{
  text-align: center;
	vertical-align: top;
	margin-top: 0px;
}
.avto-title:after{
  content: "";
  display: block;
  clear: both;
}
.text_search_avto{
  color: #154467;
  display: inline-block;
  font-size: 12px;
  font-weight: 900;
  padding: 0px 0px 0px 0px;
}
.text_shini{
  float: right;
  color: #154467;
  font-size: 10px;
  font-weight: 900;
  display: inline-block;
  text-align: right;
  padding: 3px 20px 5px 20px;
}
	.text_shini::after{
	  content: "";
	  display: block;
	  clear: both;
}
	.text_shin,
	.titl_disk{
	  text-align: left;
	  font-size: 12px;
	  color: #114165;
	  margin: 0px 10px 0px 10px;
	  font-weight: 900;
}
	.titl_disk{
	  margin-bottom: 9px;
}
	.znach_popup{
		font-size: 11px;
}
	.forma-shin p{
		font-family: lucida sans unicode;
		font-size: 10px;
		margin: 4px 0px 0px 15px;
		padding: 0px 0px 5px 0px;
}
	.pole_shin{
		font-size: 11px;
	  width: 53px;
}
	.forma-shin-text-up{
	  font-size: 14px;
}
	.pole_r{
	  width: 45px;
	  font-size: 11px;
	  margin-bottom: 0px;
	  margin-left: 3px;
}
	.forma-shin .R{
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 43px;
}
	.checkb{
		font-size: 12px;
	  position: relative;
	  left: 40px;
	  top: -17px;
}
	.checkb p label{
		font-family: lucida sans unicode;
		font-size: 12px;
		line-height: 60%
}
	.checkb p{
	  padding: 0;
}
	.checkb input{
	  margin-top: 0;
	  margin-bottom: 0;
	  line-height: 0;
}
	.checkb-input{
	  height: 10px;
	  line-height: 0;
}
	.find_disk{
	  position: relative;
	  left: 5px;

}
	.find_shina{
	  position: relative;
	  right: -115px;
	  bottom: 15px;
	  cursor: pointer;
}
	.find_avto{
	  position: relative;
	  left: 340px;
		bottom: -1px;
	  cursor: pointer;
}
	.more-sub{
  	color: #154467;
  	text-decoration: underline;
		font-style: italic;
		font-size: 14px;
  	border: none;
  	background-color: white;
  	cursor: pointer;

}
	.forma_avto p{
		display: inline-block;
		text-align: left;
		margin: 0px 0px 7px 10px;
		padding: 0px 0px 0px 5px;
		font-size: 10px;
		color: black;
		position: relative;
		line-height: 8px;
}
	.marka_avto{
	  width: 100px;
	  font-size: 11px;
	  position: absolute;
	  left: 85px;
		bottom: -2px;
}
	.god_avto{
	  width: 55px;
	  font-size: 11px;
	  position: absolute;
	  left: 85px;
    bottom: 2px;
}
	.little_font{
	  color: #77858b;
	  font-size: 8px;
}
	.colon1{
		width: 185px;
}
	.colon2 {
	  width: 175px;
}
	.forma_avto{
	  -border: 1px solid black;
}
	.container{
	  margin-top: 12px;
	  width: 908px;
}
	.left_kolonka{
	  display:  inline-block;
	  margin-right: 6px;
	  float: left;
}
	.left_kolonka::after{
	  content: "";
	  display: block;
	  clear: both;
}
	.header-left{
  	padding:7px 0px 6px 30px;
  	border: 1px solid #949fa4;
  	border-radius: 13px;
  	font-size: 13px;
  	color: #114165;
  	font-family: "Lucida Sans Unicode";
  	vertical-align: middle;
  	box-shadow: 0 1px 2px #3c4367;
}
	.header-left::before{
  	content: "";
  	display:  inline-block;
  	background-image: url(../img/listik.png);
  	background-repeat: no-repeat;
  	background-position: left;
		width: 23px;
		height: 23px;
		margin-left: -27px;
		margin-top: -6px;
		position: absolute;
}
	.left_title{
		font-size: 14px;
		color: #114165;
		font-family: "Lucida Sans Unicode";
  	padding:0px 0px 0px 30px;
  	vertical-align: middle;
  	line-height: 28px;
  	height: 28px;
  	border: 1px solid #949fa4;
  	border-radius: 15px;
  	margin: 15px 0px 0px 0px;
  	width: 118px;
}
	.left_title::before{
  	content: "";
	  display:  inline-block;
	  background-image: url(../img/koltso.png);
	  background-repeat: no-repeat;
	  background-position: left;
	  width: 25px;
	  height: 25px;
	  margin: 1px 0px 0px -26px;
	  position: absolute;
}
	.spisok li{
	  margin: 3px 0 9px 52px;
	  list-style-type: circle;
}
	.spisok li a{
	  text-decoration: none;
	  font-size: 13px;
	  font-family: "Lucida Sans Unicode";
	  color: #465961;
	  margin-left: -5px;
}
	.spisok li a:hover{
	  cursor: pointer;
	  color:#0c3256;
	  font-size: 14px;
	  font-family: Arial;
	  text-decoration: underline;
	  font-weight: bold;
  font-style: italic;
}
	.spisok li:last-child{
	  margin-bottom: -6px;
}
	.container .center_kolonka{
  	display:  inline-block;
  	width: 525px;
		background: linear-gradient(to bottom, #e4e7e8 0%,#93a7b0 100%);
  	float: left;
  	height: 630px;
}
	.center_kolonka:after{
	  content: "";
	  display: block;
	  clear: both;
}
	.img_tovara{
	  width: 74px;
	  height: 118px;
	  padding-top: 5px;
}
	.foto_tovara_small{
  	text-align: center;
	  width: 135px;
	  height: 128px;
	  background-color: white;
	  margin-top: 1px;
	  border-radius: 5px;
}
	.tovar{
	  margin: 15px 10px 10px 20px;
	  display: inline-block;
}
	h2{
  	color: #206988;
	  font-size: 14.59px;
	  font-weight: 600;
	  font-family: "Lucida Sans Unicode";
	  line-height: 13px;
	  text-align: center;
}
	h3{
		color: #1f2528;
		font-size: 12.57px;
	  line-height: 13px;
		font-weight: normal;
		font-family: "Lucida Sans Unicode";
	  text-align: center;

}
	.price{
		text-align: center;
	  margin-top: 5px;
	  padding-left: 10px;
	  color: #114165;
		font-family: "Arial";
	  font-style: italic;
		font-size: 16px;
	  font-weight: 600;
}
	.price_grn{
	  font-size: 12px;
}
	.right_kolonka{
	  display:  inline-block;
	  margin-left: 6px;
	  float: left;
}
	.right_kolonka:after{
	  content: "";
	  display: block;
	  clear: both;
}

	.title-right{
  	font-size: 14px;
  	color: #114165;
  	font-family: "Arial";
}
	.right_header{
	  padding:6px 85px 6px 30px;
	  border: 1px solid #949fa4;
	  border-radius: 13px;
	  font-size: 14px;
	  color: #114165;
	  font-family: "Lucida Sans Unicode";
	  vertical-align: middle;
	  box-shadow: 0 1px 2px #3c4367;
}
	.right_header::before{
  	content: "";
  	display:  inline-block;
		margin: -5px 0px 0px -27px;
		background-image: url(../img/listik.png);
  	background-repeat: no-repeat;
  	background-position: left;
  	width: 23px;
  	height: 23px;
  	position: absolute;
}
	.right_title_shini{
		margin: 15px 0px 0px 13px;
		padding:0 0 0 30px;
		vertical-align: middle;
		line-height: 28px;
		height: 26px;
		border: 1px solid #949fa4;
		border-radius: 12px;
		width: 103px;
		font-family: "Lucida Sans Unicode";
		font-size: 14px;
}
	.right_title_shini::before{
	  content: "";
	  display:  inline-block;
		margin: 1px 0px 0px -26px;
	  background-image: url(../img/koltso.png);
	  background-repeat: no-repeat;
	  background-position: left;
	  width: 23px;
	  height: 23px;
	  position: absolute;
}
	.right_title_diski{
		margin: 8px 0px 0px 13px;
	  padding:0 0 0 29px;
	  vertical-align: middle;
	  line-height: 28px;
	  height: 26px;
	  border: 1px solid #949fa4;
	  border-radius: 12px;
	  width: 104px;
	  font-family: "Lucida Sans Unicode";
		font-size: 14px;
}
	.right_title_diski::before{
	  content: "";
	  display:  inline-block;
		margin: 0px 0px 0px -27px;
	  background-image: url(../img/koltso.png);
	  background-repeat: no-repeat;
	  background-position: left;
	  width: 25px;
	  height: 25px;
	  position: absolute;
}
	.check_brend{
	  font-size: 13px;
	  font-family: "Lucida Sans Unicode";
	  color: #465961;
	  display: block;
	  margin: 0 19px 0 19px;
}
	.check_brend p{
	  padding-left: 7px;
	  display: inline-block;
	  line-height: 25px;
}
	.check_brend input{
	  height: 10px;
}
	.check_brend:first-child{
	  margin-top: 3px;
}
	.submit_form{
	  display: block;
	  margin: 15px 0px 0px 23px;
}
	.submit_form_button{
	  cursor: pointer;
	  color: #e5e9ea;
	  background: #1E4568;
	  box-shadow: 1px 1px 5px #666;
	  border-radius: 12px;
	  width: 80px;
	  height: 28px;
		font-family: arial;
		font-size: 11px;
		border: none;
	  outline: none;
}
	main:after{
		content:"";
		clear: both;
		display: block;
}
	.trademarks{
	  text-align: center;
}
	.trademarks img{
	  display:  inline-block;
		vertical-align: middle;
		padding: 0px 3px 0px 3px;
		margin: 35px 0px 20px 0px;
  }
	.bottom_box{
		width: 909px;
		height: 100px;
		margin: 0px auto;
	  background-color: #213a4d;
		text-align: center;
}
	.last_menu li{
	  display: inline-block;
	  margin: 10px 10px;
}
	.last_menu li a{
	  color: #bec6c9;
	  font-size: 12px;
	  text-decoration: none;
	  cursor: pointer;
}
	.last_menu li a:hover{
	  cursor: pointer;
	  color: #52abcb;
	  font-size: 12px;
}
	.last_menu li::after{
	  content: " | ";
	  position: relative;
  	right: -10px;
	  color: #bec6c9;
}
	.last_menu li:last-child::after{
	  content: "";
	  display: block;
}
	/*.bottom_menu_box{
	  -text-align: center;
}*/
	.copyright{
	  color: #7f4740;
	  font-size: 10px;
	  text-align: center;
	  margin-top: 5px;
}
