* {
	margin: 0px;
	padding: 0px;
}
body {
		font-family: arial, sans serif;
	}
.wrapper{
  width: 880px;
  margin: 30px auto;
	text-align: center;
}
.carousel-hider {
    width: 650px;
    overflow: hidden;
    float: left;
}
.carousel-list {
    list-style: none;
		width: 10000px;
		position: relative;
}
.carousel-element {
    display: block;
    margin-right: 25px;
    float: left;
}
.carousel-element img {
    max-width: 200px;
}
.carousel-arrow-left, .carousel-arrow-right {
    float: left;
		margin-top: 35px;
}
.carousel-arrow-left{
	margin-right: 20px;
}
.carousel-arrow-right{
	margin-left: 20px;
}
.wrapper::after{
	content: "";
	clear: both;
	display: block;
}
.templateCode{
	width: 1000px;
	margin: 30px auto;
}
.facePhoto{
	display: block;
	margin:20px auto;
}
h1{
	margin:30px auto 20px;
	width: 60%;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}
h2{
	margin:20px auto 20px;
padding-top: 15px;
	border-top: solid 1px black;
	width: 60%;
	font-size: 20px;
	font-weight: 600;
}

p{
	margin: 10px auto 20px;
	width: 60%;
	font-size: 15px;
	font-weight: 400;
}
