@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('../fonts/helveticaneuecyr-light-webfont.eot');
    src: url('../fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
* {
	margin: 0px;
	padding: 0px;
}
body{
		font-family: 'helveticaneuecyrlight', arial;
		font-weight: normal;
}
	.main{
		width: 1215px;
		height: 1064px;
		margin: 0 auto;
		background-image: url(../img/background2.jpg);
		background-repeat: no-repeat;
}
	.menu{
		height: 36px;
		background-color: #075190;
		margin-bottom: 215px;
		padding-top: 0px;
}
	.menu ol{
		float: right;
		height: 36px;
}
	.menu ul{
		float: right;
		height: 36px;
		vertical-align: baseline;
		}
	.menu ol li{
		list-style: none;
		display: inline-block;
		color: #60b5ed;
		margin-right: 15px;
		line-height: normal;
		padding-top: 10px;
		font-size: 14px;
		height: 26px;
		padding-left: 10px;
		padding-right: 10px;
}
	.menu ul li{
		list-style: none;
		display: inline-block;
		color: #60b5ed;
		margin-right: 0px;
		margin-left: 0px;
		line-height: normal;
		padding-top: 10px;
		font-size: 14px;
		height: 26px;
		padding-left: 15px;
		padding-right: 15px;
}
	#flajok{
		background-image: url(../img/flajok.png);
		background-position: 7% center;
		background-repeat: no-repeat;
		padding-left: 40px;
		border-left: 1px solid #4eabda;
		color: white;
		cursor:pointer;
}
	li .underline{
		text-decoration: underline;
}
	#menu_select{
		background-image: url(../img/button_fon.jpg);
		background-position: left top;
		background-repeat: no-repeat;
		cursor:pointer;
		color: white;
}
	.menu ul li:hover{
		background: #4eabda;
		color: white;
		font-weight: bold;
		cursor:pointer;
}
	.window {
		width: 560px;
		height: 610px;
		margin: 0 auto;
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
}
	.title{
		height: 42px;
		padding-top: 23px;
		border-bottom: 2px solid #d6d8cd;
		text-align: center;
		font-size: 24px;
}
	.facebook{
		background-image: url(../img/facebook.png);
		width: 276px;
		height: 35px;
		margin: 36px auto 30px auto;
		border: none;
		border-radius: 5px;
		display: block;
		cursor:pointer;
  }
	.ou {
		text-align: center;
		background-image: url(../img/ou.png);
		background-position: center center;
		background-repeat: no-repeat;
		color: #d0d0d0;
		font-size: 13px;
	}
	.polya input{
		display: block;
		width: 276px;
		height: 35px;
		margin: 15px auto;
		background-color: #101010;
		border: none;
		border-bottom: 1px solid #595959;
		padding-left: 20px;
		color: white;
}
	.polya input:focus{
		background-color: #1b5288;
		box-shadow: 0 0 20px #6499cd;

}
	.polya input::-webkit-input-placeholder{
		font-size: 14px;
		color: #d0d0d0;
}
	.polya input:focus::-webkit-input-placeholder{
		color:white;
}
	.button_check{
		width: 290px;
		margin: 25px auto;
		text-align: center;
}
	.button_check input{
		float: left;
		display: block;
		margin-top: 1px;
		width: 15px;
		height: 15px;
}
	.button_check label{
		margin-left: -30px;
		padding: 0px 0px 0px 0px;
		color: #d0d0d0;
		text-align: left;
		font-size: 14px;
}
	.button_create {
		display: block;
    background: linear-gradient(to bottom, rgba(79,173,219,1) 0%,rgba(30,87,153,1) 100%,rgba(46,122,196,1) 100%);
    /*background-image: url(../img/create.png);*/
		width: 151px;
		height: 37px;
		margin: 15px auto;
		border-radius: 4px;
		cursor:pointer;
		color: white;
		font-size: 15px;
		/*font-weight: bold;*/
    border: none;
    outline: none;
}
	.text_bottom {
		width: 310px;
		margin: 20px auto 0px auto;
}
	.text_bottom p{
		color: #d0d0d0;
		text-align: center;
		font-size: 11px;
		line-height: 16px;
}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
			td,
			tr {
				margin: 0;
				padding: 0px;
			}
			[class*="yellow"] {
				background: yellow;
				padding: 25px 50px ;
			}
			.yellow_left_bottom{
				border-top: 7px solid #000;
				border-right: 7px solid #000;
				border-bottom: 7px solid #fff;
				border-left: 7px solid #fff;
			}
			.yellow_right{
				border-top: 7px solid #000;
				border-right: 7px solid #fff;
				border-bottom: 7px solid #000;
				border-left: 7px solid #000;
			}
			.yellow_top_right{
				border-top: 7px solid #fff;
				border-right: 7px solid #fff;
				border-bottom: 7px solid #000;
				border-left: 7px solid #000;
			}
			[class*="white"] {
				background: white;
				padding: 25px 50px ;
			}
			.white{
				border-top: 7px solid #000;
				border-right: 7px solid #000;
				border-bottom: 7px solid #000;
				border-left: 7px solid #000;
			}
			.white_left{
				border-top: 7px solid #000;
				border-right: 7px solid #000;
				border-bottom: 7px solid #000;
				border-left: 7px solid #fff;
			}
			.white_left_top{
				border-top: 7px solid #fff;
				border-right: 7px solid #000;
				border-bottom: 7px solid #000;
				border-left: 7px solid #fff;
			}
			.white_top{
				border-top: 8px solid #fff;
				border-right: 7px solid #000;
				border-bottom: 7px solid #000;
				border-left: 7px solid #000;
			}
			.white_bottom{
				border-top: 7px solid #000;
				border-right: 7px solid #000;
				border-bottom: 8px solid #fff;
				border-left: 7px solid #000;
			}
			.white_bottom_right{
				border-top: 7px solid #000;
				border-right: 7px solid #fff;
				border-bottom: 7px solid #fff;
				border-left: 7px solid #000;
			}
			.white_right{
				border-top: 7px solid #000;
				border-right: 7px solid #fff;
				border-bottom: 7px solid #000;
				border-left: 7px solid #000;
			}
			.blue{
				background: blue;
				border-top: 7px solid #000;
				border-right: 7px solid #fff;
				border-bottom: 7px solid #000;
				border-left: 7px solid #000;
				padding: 25px 50px ;
			}
			.black{
				background: #494949;
				border: 7px solid #000;
				padding: 25px 50px ;
			}
			.red{
				background: red;
				border: 7px solid #000;
				padding: 25px 50px ;
			}
	body{
		padding: 0px 0px 0px 0px;
		background-image: url(../img/background2.jpg);
		background-position: center top;
		background-repeat: no-repeat;
	}
	.top_right {
		float: right;
	}
